<ul id="spaces">
  <% @spaces.each do |space|%>
  <li>
    Name: <%= space.name %>
    Description: <%= space.description %>
    Price: <%= space.price %>
    User: <%= space.user.username %>
  </li>
  <% end %>
</ul>
