HEY i t 'ss yo' ya boIi G V C C I B A T H ////  u rek wrst rekueste d a button for makin a nepw spac34 so hear u ar
<form action="/spaces/new">
  <input type="submit" value=">> L E T ''' S ___ GO <<">
</form>
