<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>//-// r e q u e s t e d //-// </title>
    <link href="../../reset.css" rel="stylesheet" type="text/css">
    <link href="../../booking_req_conf_stylesheet.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
  </head>
  <body>

    <audio autoplay>
      <source src="../../resources/totallyrad.mp3" type="audio/mpeg">
    </audio>

    <div align="center" class="container">
      <h1>❤ヅ❀ B0⦰KING REQVESt3D ❀ヅ❤</h1>
    </div>

  </body>
</html>
