<form action="/bookings" method="post">
  <label for="space">
  Space:
  </label>
  <input type="text" name="space" />
  <br />
  <label for="date">
  Date:
  </label>
  <input type="text" name="date"  />
  <input type="submit" value="Submit" />
</form>
