<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VaporBnB</title>
    <link href="./reset.css" rel="stylesheet" type="text/css">
    <link href="./sign_up_stylesheet.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
  <body>

    <audio loop autoplay>
      <source src="./resources/desire.mp3" type="audio/mpeg">
    </audio>

    <div class="container">
      <h1>VAPOR_</h1>
      <h1>BNB</h1>
    </div>

    <div class="gifcontainer">
      <!-- notepad -->
      <div class="sign_up">
        <div class="container-box">
          <div class="notepad">
            <div class="notepad-bar">
              <div class="notepad-icon">
                <img src="http://www.milk.com.hk/sites/default/files/imagecache/largebanner/sites/default/files/notepad_1.png" alt="notepad icon">
              </div>
              <div class="notepad-title">Programs - Notepad</div>
                <div class="notepad-exit">
                  <div class="button-exit">&#10060;</div>
                </div>
                <div class="notepad-maximize">
                  <div class="button-maximize">
                    <div class="icon-maximize"></div>
                  </div>
                </div>
                <div class="notepad-minimize">
                  <div class="button-minimize">
                    <div class="icon-minimize"></div>
                  </div>
                </div>
            </div> <!-- notepad bar -->
            <div class="notepad-settings">
              <div class="settings-text"><span class="underline">F</span>ile</div>
              <div class="settings-text"><span class="underline">E</span>dit</div>
              <div class="settings-text"><span class="underline">S</span>earch</div>
              <div class="settings-text"><span class="underline">H</span>elp</div>
            </div><!-- notepad settings -->
            <div class="notepad-content">
              <p>Dear Diary,</p>
              <p id="sign_in_notepad">Sign in</p>
              <%= flash[:error] %>
              <form action="/users/new" method="POST" class="sign_up_form">
                <label for="name"></label>
                  <input type="text" required name="name" placeholder="Name">
                <label for="username"></label>
                  <input type="text" required name="username" placeholder="Username">
                <label for="email"></label>
                  <input type="text" required name="email" placeholder="Email">
                <label for="password"></label>
                  <input type="password" required name="password" placeholder="Password">
                <label for="password_confirmation"></label>
                  <input type="password" required name="password_confirmation" placeholder="Confirm password">
                <input type="submit" id="submitbutton" value="☯ シ m y  b o d y  i s  r e a d y">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->

    <footer>Brought to u by F I J I // W A T E R </footer>


  </body>
</html>
