<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    Welcome, <%= @user.name %>!
    <form action="/spaces">
      <input type="submit" value=" s p a c e s " />
    </form>
  </body>
</html>
